{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-8">
	<div class="w-1/2 mx-auto bg-white p-8 shadow-md">
		<h1 class="text-2xl font-bold text-center">Create an Account</h1>
		<form action="/auth/register" method="POST" class="mt-4">
			<div class="mb-4">
				<label for="email" class="block text-gray-700 font-bold">Email</label>
				<input type="email" name="email" id="email" class="w-full border-2 border-gray-300 p-2 rounded-md"
					required>
			</div>
			<div class="flex md:flex-row flex-col md:justify-between items-center gap-4">
				<div class="mb-4">
					<label for="password" class="block text-gray-700 font-bold">Password</label>
					<input type="password" name="password" id="password"
						class="w-full border-2 border-gray-300 p-2 rounded-md" required>
				</div>
				<div class="mb-4">
					<label for="confirm_password" class="block text-gray-700 font-bold">Confirm Password</label>
					<input type="password" name="confirm_password" id="confirm_password"
						class="w-full border-2 border-gray-300 p-2 rounded-md" required>
				</div>
			</div>
			<button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md">Register</button>
			<div class="flex justify-between items-center px-6 py-2 text-blue-500 underline">
				<a href="#">Forgot Password?</a>
				<a href="/auth/login">Already registered?</a>
			</div>
		</form>
	</div>
</div>
{% endblock content %}